ai-editor-2.0-full-stack-application/docs/ai-editor-step-3-decoration-migration-1-1-26/STEP-3-AI-Editor-2.0-Decoration_12.19.25-to-reference-for-full-stack-migration.json
{
  "name": "STEP 3 AI Editor 2.0 - Decoration_12.19.25",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tblzt2z7r512Kto3O",
          "mode": "list",
          "cachedResultName": "AI Editor - Selected Slots",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tblzt2z7r512Kto3O"
        },
        "filterByFormula": "={status} = 'pending'",
        "options": {
          "fields": [
            "issue_id",
            "issue_date",
            "slot_1_storyId",
            "slot_1_pivotId",
            "slot_2_headline",
            "slot_2_storyId",
            "slot_2_pivotId",
            "slot_3_headline",
            "slot_3_storyId",
            "slot_3_pivotId",
            "slot_4_headline",
            "slot_4_storyId",
            "slot_4_pivotId",
            "slot_5_headline",
            "slot_5_storyId",
            "slot_5_pivotId",
            "subject_line",
            "social_post_status"
          ]
        }
      },
      "id": "pull-latest-issue",
      "name": "Pull Latest Issue",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -96,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const issue = $input.first().json;\n\nconst stories = [];\nfor (let slot = 1; slot <= 5; slot++) {\n  const storyId = issue[`slot_${slot}_storyId`];  // camelCase to match Airtable\n  const pivotId = issue[`slot_${slot}_pivotId`];\n  if (storyId) {\n    stories.push({\n      slot,\n      story_id: storyId,\n      pivotId: pivotId || '',\n      issue_id: issue.issue_id,\n      newsletter: issue.newsletter || 'pivot_ai'\n    });\n  }\n}\n\nreturn stories.map(s => ({ json: s }));"
      },
      "id": "prepare-story-lookups",
      "name": "Prepare Story Lookups",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-stories",
      "name": "Loop Stories",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        624,
        176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tblMfRgSNSyoRIhx1",
          "mode": "list",
          "cachedResultName": "Articles All Ingested",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tblMfRgSNSyoRIhx1"
        },
        "filterByFormula": "=OR({pivot_id}='{{ $json.pivotId }}', RECORD_ID()='{{ $json.story_id }}')",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "pull-story-details",
      "name": "Pull Story Details",
      "type": "n8n-nodes-base.airtable",
      "position": [
        832,
        -176
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const loopItem = $('Loop Stories').first().json;\nconst article = $('Pull Story Details').first().json;\nconst nisData = $input.first().json;  // Newsletter Selects data - has raw, headline, core_url, topic\n\n// Newsletter Selects has 'raw' field with scraped article content\n// and 'headline' (not ai_headline), no ai_bullet fields\nconst markdown = nisData.raw || article.markdown || '';\nconst headline = nisData.headline || article.headline || '';\nconst coreUrl = nisData.core_url || article.original_url || '';\n\n// Always regenerate decoration for all stories\n// (Newsletter Selects doesn't have pre-generated bullets)\nconst needsDecoration = true;\n\nconsole.log(`Story ${loopItem.pivotId}: using raw from Newsletter Selects (${markdown.length} chars), needs_decoration=${needsDecoration}`);\n\nreturn [{\n  json: {\n    slot: loopItem.slot,\n    story_id: loopItem.story_id,\n    pivotId: loopItem.pivotId,\n    issue_id: loopItem.issue_id,\n    newsletter: loopItem.newsletter,\n    needs_decoration: needsDecoration,\n    headline: headline,\n    markdown: markdown,\n    core_url: coreUrl,\n    source_id: nisData.source_name || article.source_name || '',\n    date_published: nisData.date_og_published || article.date_og_published || '',\n    topic: nisData.topic || article.topic || ''\n  }\n}];"
      },
      "id": "merge-story-context",
      "name": "Merge Story Context",
      "type": "n8n-nodes-base.code",
      "position": [
        1232,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "needs-decoration",
              "leftValue": "={{ $json.needs_decoration }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-needs-decoration",
      "name": "Check Needs Decoration",
      "type": "n8n-nodes-base.if",
      "position": [
        1920,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst styleByNewsletter = {\n  pivot_build: `\nAudience: builders, product managers, and operators.\nFocus: execution, experiments, roadmaps, concrete takeaways they can apply.\nTone: practical, direct, builder-focused. Avoid fluff; highlight what matters for shipping and strategy.\n\nGlobal Writing Rules:\n- Write for busy CEOs - clear, confident, direct.\n- Present tense, active voice.\n- No jargon, no \"could/might/possibly\".\n- Avoid vague terms like \"impact\" or \"transformation\".\n- Stick to business consequences.\n- EXACTLY 2 sentences per bullet.\n- Headline: Title Case, one sentence, NO colons or semi-colons.\n  `.trim(),\n\n  pivot_invest: `\nAudience: investors and markets-focused readers.\nFocus: capital flows, business models, risk/reward, unit economics, competition, and macro context.\nTone: analytical, concise, focused on what moves valuations or changes an investment thesis.\n\nGlobal Writing Rules:\n- Write for busy CEOs - clear, confident, direct.\n- Present tense, active voice.\n- No jargon, no \"could/might/possibly\".\n- Avoid vague terms like \"impact\" or \"transformation\".\n- Stick to business consequences.\n- EXACTLY 2 sentences per bullet.\n- Headline: Title Case, one sentence, NO colons or semi-colons.\n  `.trim(),\n\n  pivot_ai: `\nAudience: professionals following the AI field, not just technology broadly.\nFocus: capabilities, limitations, ecosystem dynamics, and real-world impact.\nTone: sharp, skeptical of hype, but accessible to a broad tech/business audience.\n\nGlobal Writing Rules:\n- Write for busy CEOs - clear, confident, direct.\n- Present tense, active voice.\n- No jargon, no \"could/might/possibly\".\n- Avoid vague terms like \"impact\" or \"transformation\".\n- Stick to business consequences.\n- EXACTLY 2 sentences per bullet.\n- Headline: Title Case, one sentence, NO colons or semi-colons.\n  `.trim(),\n};\n\nconst newsletter = item.newsletter || 'pivot_ai';\nconst style = styleByNewsletter[newsletter] || styleByNewsletter.pivot_ai;\n\nconst userContent = `\n=== NEWSLETTER STYLE ===\n${style}\n\n=== ARTICLE METADATA ===\nURL: ${item.core_url}\nHeadline: ${item.headline}\nSource: ${item.source_id || 'Unknown'}\nPublished: ${item.date_published || 'Unknown'}\nNewsletter: ${newsletter}\n\n=== ARTICLE CONTENT ===\n${item.markdown || ''}\n`.trim();\n\nreturn [{\n  json: {\n    ...item,\n    userContent,\n    newsletterStyle: style\n  }\n}];"
      },
      "id": "build-decoration-prompt",
      "name": "Build Decoration Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        2240,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=📩 MASTER PROMPT — PIVOT 5 AI NEWSLETTER CONTENT CREATION\n\n## YOUR ROLE\nYou are an expert newsletter editor creating content for Pivot 5's AI-focused newsletter.\n\n## AUDIENCE\n- CEOs, founders, general managers, and senior business leaders\n- They are busy, strategic thinkers who want actionable insights\n- They care about business impact, competitive dynamics, and what matters for decision-making\n\n## VOICE & STYLE\n- Confident, clear, informed — like a trusted advisor briefing an executive\n- Present tense, active voice\n- No jargon, no hedging (avoid \"could/might/possibly\")\n- Avoid vague terms like \"impact\" or \"transformation\" — stick to concrete business consequences\n- Professional but not stiff\n\n## OUTPUT FORMAT\nReturn ONLY valid JSON with these exact fields:\n\n{\n  \"label\": \"CATEGORY from list below\",\n  \"ai_headline\": \"Title Case headline, one sentence, NO colons or semi-colons\",\n  \"ai_dek\": \"One sentence hook/subtitle\",\n  \"ai_bullet_1\": \"EXACTLY 2 sentences - the main announcement or news\",\n  \"ai_bullet_2\": \"EXACTLY 2 sentences - additional context or details\",\n  \"ai_bullet_3\": \"EXACTLY 2 sentences - key insight, implication, or what happens next\",\n  \"source\": \"Publication name (e.g., TechCrunch, The Information)\",\n  \"clean_url\": \"Original URL without tracking parameters\",\n  \"image_prompt\": \"Brief visual description for an illustrative image\"\n}\n\n## LABEL OPTIONS (choose exactly one):\nWORK, EDUCATION, INFRASTRUCTURE, POLICY, TALENT, HEALTH, RETAIL, ENTERPRISE, COMPETITION, FUNDING, SECURITY, TOOLS, SEARCH, INVESTORS, CHINA, REGULATION, ETHICS, LAWSUITS\n\n## CRITICAL RULES FOR BULLETS\n1. Each bullet MUST be EXACTLY 2 sentences. Not 1. Not 3. Exactly 2.\n2. Bullet 1: Lead with the news — what happened, who did it, what changed\n3. Bullet 2: Context — why this matters, what it means, relevant background\n4. Bullet 3: Forward-looking — implications, what to watch, competitive dynamics\n5. Keep each bullet concise but complete — typically 25-45 words per bullet\n\n## HEADLINE RULES\n- Title Case (capitalize major words)\n- One complete sentence\n- NO colons, semi-colons, or em-dashes\n- Focus on the most newsworthy element\n- Make it scannable and specific\n\n{{ $json.userContent }}\n\nReturn ONLY the JSON object. No commentary, no code fences, no explanation."
            }
          ]
        },
        "options": {}
      },
      "id": "content-creator",
      "name": "Content Creator",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "position": [
        2432,
        -176
      ],
      "typeVersion": 1,
      "credentials": {
        "anthropicApi": {
          "id": "YKM57Kb7DwoPLoVN",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('Build Decoration Prompt').first().json;\n\nlet text = item.content?.[0]?.text || item.message?.content || '{}';\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet decorated;\ntry {\n  decorated = JSON.parse(text);\n} catch (e) {\n  decorated = {\n    ai_headline: prev.headline || 'Parse Error',\n    ai_dek: '',\n    ai_bullet_1: 'Content generation failed: ' + e.message,\n    ai_bullet_2: '',\n    ai_bullet_3: '',\n    image_prompt: '',\n    label: '',\n    source: '',\n    clean_url: ''\n  };\n}\n\nreturn [{\n  json: {\n    ...prev,\n    ai_headline: decorated.ai_headline || prev.headline,\n    ai_dek: decorated.ai_dek || '',\n    ai_bullet_1: decorated.ai_bullet_1 || '',\n    ai_bullet_2: decorated.ai_bullet_2 || '',\n    ai_bullet_3: decorated.ai_bullet_3 || '',\n    image_prompt: decorated.image_prompt || '',\n    label: decorated.label || prev.topic || '',\n    source: decorated.source || prev.source_id || '',\n    clean_url: decorated.clean_url || prev.core_url || ''\n  }\n}];"
      },
      "id": "parse-content-creator",
      "name": "Parse Content Creator",
      "type": "n8n-nodes-base.code",
      "position": [
        2688,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a formatting assistant. Your task is to add HTML bold tags to highlight the most important phrase in each bullet point.\n\n## INSTRUCTIONS\n\nFor each bullet field (ai_bullet_1, ai_bullet_2, ai_bullet_3):\n1. Identify the SINGLE most important phrase (5-15 words) that captures the key information\n2. Wrap that phrase in HTML bold tags: <b>phrase here</b>\n3. Only bold ONE phrase per bullet\n4. Do NOT bold entire sentences\n5. Do NOT change any wording, punctuation, or content\n\n## INPUT JSON\n```json\n{\n  \"label\": \"{{ $json.label || '' }}\",\n  \"ai_headline\": \"{{ $json.ai_headline }}\",\n  \"ai_dek\": \"{{ $json.ai_dek || '' }}\",\n  \"ai_bullet_1\": \"{{ $json.ai_bullet_1 }}\",\n  \"ai_bullet_2\": \"{{ $json.ai_bullet_2 }}\",\n  \"ai_bullet_3\": \"{{ $json.ai_bullet_3 }}\",\n  \"source\": \"{{ $json.source || '' }}\",\n  \"clean_url\": \"{{ $json.clean_url || '' }}\"\n}\n```\n\n## OUTPUT FORMAT\nReturn the COMPLETE JSON object with only the bullet fields modified to include <b></b> tags.\n\n## EXAMPLE\nInput bullet: \"Netflix launched a new AI-powered recommendation engine. The feature uses machine learning to predict viewing preferences.\"\nOutput bullet: \"Netflix <b>launched a new AI-powered recommendation engine</b>. The feature uses machine learning to predict viewing preferences.\"\n\nReturn ONLY the JSON object. No code fences, no commentary."
            }
          ]
        },
        "options": {}
      },
      "id": "bolding-pass",
      "name": "Bolding Pass",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "position": [
        2864,
        -208
      ],
      "typeVersion": 1,
      "credentials": {
        "anthropicApi": {
          "id": "YKM57Kb7DwoPLoVN",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('Parse Content Creator').first().json;\n\nlet text = item.content?.[0]?.text || item.message?.content || '{}';\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet bolded;\ntry {\n  bolded = JSON.parse(text);\n} catch (e) {\n  // If parsing fails, use the unbolded bullets from Parse Content Creator\n  bolded = {\n    ai_bullet_1: prev.ai_bullet_1,\n    ai_bullet_2: prev.ai_bullet_2,\n    ai_bullet_3: prev.ai_bullet_3,\n    label: prev.label,\n    source: prev.source\n  };\n}\n\nreturn [{\n  json: {\n    slot: prev.slot,\n    story_id: prev.story_id,\n    issue_id: prev.issue_id,\n    newsletter: prev.newsletter,\n    headline: prev.headline,\n    core_url: prev.core_url || prev.clean_url || '',\n    image_url: prev.image_url,\n    topic: prev.topic,\n    markdown: prev.markdown,\n    ai_headline: bolded.ai_headline || prev.ai_headline,\n    ai_dek: bolded.ai_dek || prev.ai_dek,\n    ai_bullet_1: bolded.ai_bullet_1 || prev.ai_bullet_1,\n    ai_bullet_2: bolded.ai_bullet_2 || prev.ai_bullet_2,\n    ai_bullet_3: bolded.ai_bullet_3 || prev.ai_bullet_3,\n    image_prompt: prev.image_prompt,\n    label: bolded.label || prev.label || '',\n    source: bolded.source || prev.source || ''\n  }\n}];"
      },
      "id": "normalize-decorated",
      "name": "Normalize Decorated",
      "type": "n8n-nodes-base.code",
      "position": [
        3168,
        -176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Story already has decoration in Newsletter Stories - use existing data\nconst item = $input.first().json;\n\n// Pass through the existing Newsletter Stories data\nreturn [{\n  json: {\n    slot: item.slot,\n    story_id: item.story_id,\n    pivotId: item.pivotId,\n    issue_id: item.issue_id,\n    newsletter: item.newsletter,\n    headline: item.nis_ai_headline || item.headline || '',\n    markdown: item.markdown || '',\n    core_url: item.core_url || '',\n    topic: item.topic || '',\n    // Use existing Newsletter Stories data (no need to regenerate)\n    ai_headline: item.nis_ai_headline || '',\n    ai_dek: item.nis_ai_dek || '',\n    ai_bullet_1: item.nis_ai_bullet_1 || '',\n    ai_bullet_2: item.nis_ai_bullet_2 || '',\n    ai_bullet_3: item.nis_ai_bullet_3 || '',\n    nis_ai_dek: item.nis_ai_dek || '',\n    image_prompt: ''\n  }\n}];"
      },
      "id": "pass-through",
      "name": "Pass Through",
      "type": "n8n-nodes-base.code",
      "position": [
        2032,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        3520,
        -96
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tbla16LJCf5Z6cRn3",
          "mode": "list",
          "cachedResultName": "Newsletter Issue Stories",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tbla16LJCf5Z6cRn3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_id": "={{ $json.issue_id }}",
            "story_id": "={{ $json.story_id }}",
            "raw": "={{ $json.markdown }}",
            "headline": "={{ $json.ai_headline }}",
            "slot_order": "={{ $json.slot }}",
            "label": "={{ $json.label || $json.topic }}",
            "b1": "={{ $json.ai_bullet_1 }}",
            "b2": "={{ $json.ai_bullet_2 }}",
            "b3": "={{ $json.ai_bullet_3 }}",
            "image_status": "needs_image",
            "image_url": "={{ $json.image_url }}",
            "ai_dek": "={{ $json.ai_dek }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_id",
              "displayName": "issue_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_order",
              "displayName": "slot_order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "story_id",
              "displayName": "story_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ai_dek",
              "displayName": "ai_dek",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "b1",
              "displayName": "b1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "b2",
              "displayName": "b2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "b3",
              "displayName": "b3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_status",
              "displayName": "image_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "needs_image",
                  "value": "needs_image"
                },
                {
                  "name": "generated",
                  "value": "generated"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "social_status",
              "displayName": "social_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "synced",
                  "value": "synced"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "article_slug",
              "displayName": "article_slug",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pivotnews_url",
              "displayName": "pivotnews_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "blog_post_raw",
              "displayName": "blog_post_raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter Issues",
              "displayName": "Newsletter Issues",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter Selects",
              "displayName": "Newsletter Selects",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "write-decoration",
      "name": "Write Decoration",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3760,
        -112
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "position": [
        4000,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tbla16LJCf5Z6cRn3",
          "mode": "list",
          "cachedResultName": "AI Editor - Decoration",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tbla16LJCf5Z6cRn3"
        },
        "filterByFormula": "={image_status} = 'needs_image'",
        "options": {
          "fields": [
            "issue_id",
            "story_id",
            "slot_order",
            "headline",
            "label",
            "b1",
            "b2",
            "b3",
            "raw"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        1360
      ],
      "id": "4101b67f-130b-4f8c-a2fa-1a0be704e4a8",
      "name": "Pull Needs Image",
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/57031a8d3a5fcec5b7f5f7b4e2fa943b/images/v1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8M2XNswB7xd4yUhFf1mZbCmZAVmw_T-YbTaIvvKp"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        1184
      ],
      "id": "a591e640-ed44-42ba-886e-967048242d72",
      "name": "Upload to Cloudflare"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Unified image → binary converter for Gemini + OpenAI\n// and always try to pull StoryID/id from upstream nodes.\n\n// Normalize baseJson in case the HTTP node wrapped things in an array\nlet baseJson = $json || {};\nif (Array.isArray(baseJson) && baseJson.length > 0) {\n  // If it's an array like [ { candidates: [...] } ], unwrap the first one\n  if (baseJson[0] && baseJson[0].candidates) {\n    baseJson = baseJson[0];\n  }\n}\n\nlet b64;\nlet mimeType = 'image/png'; // default\nlet source = 'unknown';\n\n// -------------------------\n// 1) Extract base64 + mimeType from Gemini OR OpenAI\n// -------------------------\n\n// Case A: Gemini NEW response format\n// [\n//   {\n//     \"candidates\": [\n//       {\n//         \"content\": {\n//           \"parts\": [\n//             {\n//               \"inlineData\": {\n//                 \"mimeType\": \"image/jpeg\",\n//                 \"data\": \"<base64>\"\n//               }\n//             }\n//           ]\n//         }\n//       }\n//     ]\n//   }\n// ]\nif (\n  Array.isArray(baseJson.candidates) &&\n  baseJson.candidates[0] &&\n  baseJson.candidates[0].content &&\n  Array.isArray(baseJson.candidates[0].content.parts)\n) {\n  const parts = baseJson.candidates[0].content.parts;\n  for (const part of parts) {\n    if (part && part.inlineData && part.inlineData.data) {\n      b64 = part.inlineData.data;\n      mimeType = part.inlineData.mimeType || mimeType;\n      source = 'gemini';\n      break;\n    }\n  }\n}\n\n// Case B: Gemini OLD response format (keep as fallback)\n// { predictions: [ { bytesBase64Encoded, mimeType } ] }\nif (\n  !b64 &&\n  Array.isArray(baseJson.predictions) &&\n  baseJson.predictions[0] &&\n  baseJson.predictions[0].bytesBase64Encoded\n) {\n  const p = baseJson.predictions[0];\n  b64 = p.bytesBase64Encoded;\n  mimeType = p.mimeType || 'image/png';\n  source = 'gemini';\n}\n\n// Case C: OpenAI Images response\n// { created, ... , data: [ { b64_json } ] }\nif (\n  !b64 &&\n  Array.isArray(baseJson.data) &&\n  baseJson.data[0] &&\n  baseJson.data[0].b64_json\n) {\n  const d = baseJson.data[0];\n  b64 = d.b64_json;\n  // OpenAI images API returns PNG by default\n  mimeType = 'image/png';\n  source = 'openai';\n}\n\nif (!b64) {\n  throw new Error(\n    'No image base64 found. Expected Gemini.candidates[0].content.parts[].inlineData.data, Gemini.predictions[0].bytesBase64Encoded, or OpenAI.data[0].b64_json'\n  );\n}\n\n// -------------------------\n// 2) Find StoryID / airtableId\n// -------------------------\n\nfunction pickStoryJson() {\n  const candidates = [];\n\n  // a) current item (works on Gemini success path)\n  candidates.push($json || {});\n\n  // b) input to the Gemini node (works on the OpenAI error path)\n  try {\n    const gIn = $items('Gemeni Generate Image', 0, $itemIndex);\n    if (gIn && gIn.json) candidates.push(gIn.json);\n  } catch (e) {\n    // ignore if not available\n  }\n\n  // If you also have a Split In Batches / Loop node you want to check:\n  // try {\n  //   const loopItem = $items('Loop Over Items3', 0, $itemIndex);\n  //   if (loopItem && loopItem.json) candidates.push(loopItem.json);\n  // } catch (e) {}\n\n  // Return the first candidate that has some kind of StoryID\n  for (const c of candidates) {\n    if (!c) continue;\n    if (c.StoryID || c.storyId || c.story_id) {\n      return c;\n    }\n  }\n  // Fallback: just return the first candidate\n  return candidates[0] || {};\n}\n\nconst storyJson = pickStoryJson();\n\nconst storyId =\n  storyJson.StoryID ||\n  storyJson.storyId ||\n  storyJson.story_id ||\n  null;\n\nconst airtableId =\n  storyJson.id ||\n  storyJson.airtableId ||\n  null;\n\n// -------------------------\n// 3) Build filename / binary output\n// -------------------------\nconst ext = mimeType === 'image/jpeg' ? '.jpg' : '.png';\n\nreturn {\n  json: {\n    ...baseJson,\n    StoryID: storyId,\n    airtableId,\n    imageProvider: source,\n  },\n  binary: {\n    image: {\n      data: Buffer.from(b64, 'base64'),\n      mimeType,\n      fileName: (storyId || `${source}-image`) + ext,\n    },\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1296
      ],
      "id": "2584ff4b-0e9b-4012-80a8-54106811655d",
      "name": "Convert to binary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac1aa9d-eea4-4b9e-b5e2-ee67215f0ad0",
              "name": "story_id",
              "value": "={{ $('Convert to binary').item.json.StoryID }}",
              "type": "string"
            },
            {
              "id": "75621f8a-1be8-4f04-9f1d-83ec3965214f",
              "name": "image_url",
              "value": "={{ 'https://img.pivotnews.com/cdn-cgi/imagedelivery/KXy14RehLGC3ziMxzD_shA/' + $json.result.id + '/newsletter' }}",
              "type": "string"
            },
            {
              "id": "75621c7a-a679-4dd1-ad46-9c63d374c00d",
              "name": "id",
              "value": "={{ $('Convert to binary').item.json.id || $('Convert to binary').item.json.airtableId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        1312
      ],
      "id": "b707159c-9050-4873-b55e-bd8b7f1b039f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Create/Upload Image\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        1312
      ],
      "id": "f2917f2e-0fa3-4340-a41f-db55494b6a70",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbla16LJCf5Z6cRn3",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "image_url": "={{ $json.image_url }}",
            "image_status": "generated"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "image_status",
              "displayName": "image_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "needs_image",
                  "value": "needs_image"
                },
                {
                  "name": "generated",
                  "value": "generated"
                },
                {
                  "name": "failed",
                  "value": "failed"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2464,
        1312
      ],
      "id": "cd28a7a4-5fec-4fb8-a343-7a085cf1f909",
      "name": "Upload Final Image",
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        1360
      ],
      "id": "cd90f681-40ad-485f-ad63-e632d51e7524",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2832,
        1312
      ],
      "id": "65815637-5976-4752-a558-8b626c3aa999",
      "name": "Wait3",
      "webhookId": "8ced334c-83e1-441e-9c4a-57f094c17d4a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-image-1.5\",\n  \"prompt\": \"Create a clean, minimal, informative landscape infographic based on this AI news story.\\n\\nDESIGN REQUIREMENTS:\\n- Aspect ratio: 16:9\\n- MINIMAL TEXT - prioritize icons and visuals over words\\n- Orange accent color: #ff6f00 for accents and highlights\\n- White or light gray background\\n- Plenty of white space\\n- Modern, premium aesthetic\\n\\nStory Context:\\nHeadline: {{ ($json.headline || '').replace(/\\\"/g, '\\\\\\\"') }}\\n\\nKey Points (if available):\\n- {{ ($json.b1 || '').replace(/\\\"/g, '\\\\\\\"') }}\\n- {{ ($json.b2 || '').replace(/\\\"/g, '\\\\\\\"') }}\\n- {{ ($json.b3 || '').replace(/\\\"/g, '\\\\\\\"') }}\\n\\nStyle: Soft watercolor aesthetic with orange (#ff6f00) accents. Clean typography. NO clutter.\",\n  \"size\": \"1536x1024\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1360
      ],
      "id": "5e02871b-9de7-480f-9fb0-a20fda6b83cc",
      "name": "OpenAI Backup Node",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "X5FLqHBUsTMRdz0w",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Create a clean, minimal, informative landscape infographic based on this AI news story.\\n\\nDESIGN REQUIREMENTS:\\n- Aspect ratio: 16:9 \\n- MINIMAL TEXT - prioritize icons and visuals over words\\n- Orange accent color: #ff6f00 for accents and highlights\\n- White or light gray background\\n- Plenty of white space\\n- Modern, premium aesthetic\\n\\nStory Context:\\nHeadline: \" + $json.headline + \"\\n\\nKey Points (if available):\\n- \" + ($json.b1 || '') + \"\\n- \" + ($json.b2 || '') + \"\\n- \" + ($json.b3 || '') + \"\\n\\nStyle: Soft watercolor aesthetic with orange (#ff6f00) accents. Clean typography. NO clutter.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\"],\n    \"imageConfig\": {\n      \"aspectRatio\": \"16:9\"\n    }\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        1200
      ],
      "id": "73df5837-fe07-4dd1-b87b-d7f533b4a358",
      "name": "Gemini Generate Image",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "bIPrNPjXDd1UxZE4",
          "name": "Google Gemini(PaLM) Api account Kunal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac1aa9d-eea4-4b9e-b5e2-ee67215f0ad0",
              "name": "StoryID",
              "value": "={{ $('Gemini Generate Image').item.json.storyID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        1392
      ],
      "id": "34e2229e-f149-4df2-aaf2-f4ba200c2a48",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac1aa9d-eea4-4b9e-b5e2-ee67215f0ad0",
              "name": "StoryID",
              "value": "={{ $('Loop Over Items3').item.json.storyID }}",
              "type": "string"
            },
            {
              "id": "e060ac6f-8732-48d4-a066-302b016b4850",
              "name": "id",
              "value": "={{ $('Loop Over Items3').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        1232
      ],
      "id": "39c9e6ed-5586-4efb-ba45-0b47e4169bbb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbla16LJCf5Z6cRn3",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "image_status": "failed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_status",
              "displayName": "image_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "needs_image",
                  "value": "needs_image"
                },
                {
                  "name": "generated",
                  "value": "generated"
                },
                {
                  "name": "failed",
                  "value": "failed"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2736,
        1072
      ],
      "id": "a9c86605-202f-499d-9b6d-918d39b0f786",
      "name": "Upload Final Image1",
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull all items from upstream\nconst items = $input.all();\n\n// VERY conservative blacklist.\n// Add/remove terms as necessary.\n// Pattern is case-insensitive.\nconst sexualRegex = new RegExp(\n  [\n    // Explicit sexual acts\n    \"\\\\bsex\\\\b\",\n    \"sexual\",\n    \"porn\",\n    \"pornographic\",\n    \"adult content\",\n    \"xxx\",\n    \"nsfw\",\n    \"fetish\",\n    \"escort\",\n    \"prostitute\",\n    \"nude\",\n    \"nudity\",\n    \"orgy\",\n    \"incest\",\n    \"bestiality\",\n    \"masturb\",\n    \"hardcore\",\n    \"softcore\",\n    \"explicit\",\n    \"graphic sexual\",\n    \"erotic\",\n    \"sensual\",\n    \"onlyfans\",\n    // Implicit or risky connotation words\n    \"strip club\",\n    \"cam girl\",\n    \"camgirl\",\n    \"cam-boy\",\n    \"sex worker\",\n    \"sexualized\",\n    \"underage\",\n    \"minor.*sexual\"\n  ].join(\"|\"),\n  \"i\"\n);\n\n// Helper: string safety\nfunction storyHasSexualContent(obj) {\n  const fields = [\n    obj.ai_headline,\n    obj.ai_dek,\n    obj.ai_bullet_1,\n    obj.ai_bullet_2,\n    obj.ai_bullet_3,\n    obj.tags,\n    obj.topic,\n    obj.reason_for_fit_score,\n    obj.core_url\n  ];\n\n  const combined = fields\n    .filter(Boolean)\n    .join(\" \")\n    .toLowerCase();\n\n  return sexualRegex.test(combined);\n}\n\n// Filter stories\nconst safeStories = items.filter(item => {\n  const data = item.json || item;\n  return !storyHasSexualContent(data);\n});\n\n// Output\nreturn safeStories.map(s => ({ json: s.json || s }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1360
      ],
      "id": "40f231a9-a6ab-42c1-9358-ac2e8424413a",
      "name": "Sensitive words filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dzocuy47k/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            },
            {
              "name": "upload_preset",
              "value": "MakeImage"
            }
          ]
        },
        "options": {}
      },
      "id": "964ac37a-2b1a-4813-a4b4-986484000d98",
      "name": "Cloudinary Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        1696
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "opt-url-transform",
              "name": "opt_url",
              "value": "={{ $json[\"url\"].replace(\"http://res.cloudinary.com\", \"https://res.cloudinary.com\").replace(\"/upload/\", \"/upload/c_scale,w_636,q_auto:eco,f_webp/\") }}",
              "type": "string"
            },
            {
              "id": "cld-url-preserve",
              "name": "cld_url",
              "value": "={{ $json[\"url\"] }}",
              "type": "string"
            },
            {
              "id": "story-id-preserve",
              "name": "StoryID",
              "value": "={{ $('Convert to binary').item.json.StoryID }}",
              "type": "string"
            },
            {
              "id": "airtable-id-preserve",
              "name": "id",
              "value": "={{ $('Convert to binary').item.json.id || $('Convert to binary').item.json.airtableId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c8313b78-2e7f-4fe4-94d9-c6e7a37c52ed",
      "name": "Optimized URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        1696
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.opt_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/webp,image/*;q=0.8,*/*;q=0.5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "8c0eb8e0-05ec-4470-bcf6-c0b20da69281",
      "name": "Get Optimized Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        1696
      ]
    },
    {
      "parameters": {
        "jsCode": "// AI Editor 2.0 is exclusively for pivot_ai newsletter\n// No filter needed - pass all items through\n// pivot_build and pivot_invest are disabled at the Assemble/Compile stage\n\nconsole.log(`Processing ${items.length} items (all from pivot_ai)`);\n\nreturn items;"
      },
      "id": "c43e5504-5e59-4509-9c2f-90b00cb9f3a9",
      "name": "Filter Pivot AI Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1360
      ]
    },
    {
      "parameters": {
        "content": "Headline creation"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        384
      ],
      "id": "6e76e5a6-60c7-418c-9119-64d60bd4c4b9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tblzt2z7r512Kto3O",
          "mode": "list",
          "cachedResultName": "AI Editor - Selected Slots",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tblzt2z7r512Kto3O"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "decorated"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "issue_id",
              "displayName": "issue_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issue_date",
              "displayName": "issue_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_1_headline",
              "displayName": "slot_1_headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_1_storyId",
              "displayName": "slot_1_storyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_1_pivotId",
              "displayName": "slot_1_pivotId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_2_headline",
              "displayName": "slot_2_headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_2_storyId",
              "displayName": "slot_2_storyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_2_pivotId",
              "displayName": "slot_2_pivotId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_3_headline",
              "displayName": "slot_3_headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_3_storyId",
              "displayName": "slot_3_storyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_3_pivotId",
              "displayName": "slot_3_pivotId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_4_headline",
              "displayName": "slot_4_headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_4_storyId",
              "displayName": "slot_4_storyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_4_pivotId",
              "displayName": "slot_4_pivotId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_5_headline",
              "displayName": "slot_5_headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_5_storyId",
              "displayName": "slot_5_storyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slot_5_pivotId",
              "displayName": "slot_5_pivotId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject_line",
              "displayName": "subject_line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "decorated",
                  "value": "decorated"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "social_post_status",
              "displayName": "social_post_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "posted",
                  "value": "posted"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "mark-complete",
      "name": "Mark Issue Decorated",
      "type": "n8n-nodes-base.airtable",
      "position": [
        848,
        352
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original story data from Merge Story Context\nconst originalData = $('Merge Story Context').item.json;\n\n// Extract cleaned text from Gemini langchain node\n// The langchain Gemini node outputs: { content: { parts: [{ text: \"...\" }] } }\nconst geminiResponse = $input.item.json;\nconst cleanedMarkdown = geminiResponse.content?.parts?.[0]?.text || originalData.markdown;\n\n// Return with proper n8n format\nreturn [{\n  json: {\n    ...originalData,\n    markdown: cleanedMarkdown,\n    markdown_cleaned: true\n  }\n}];"
      },
      "id": "0bb1582b-10b8-4c60-a2c0-3b9564707ec3",
      "name": "Process Cleaned Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -240
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a content extraction assistant. Extract ONLY the main article body text from the following scraped web content. \n\nRemove ALL of the following:\n- Navigation menus and links\n- Skip to content / accessibility links\n- Share buttons (Share on Facebook, Copy link, etc.)\n- Ad placeholders and sponsored content\n- Footer links and related articles\n- Author bios and newsletter signup prompts\n- Sidebar widgets and table of contents\n- Cookie notices and privacy banners\n- Comments sections\n- Return ONLY the clean article prose. \n\nDo not add any commentary or headers\n\nSCRAPED CONTENT {{ $json.markdown.substring(0, 8000) }} "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        -240
      ],
      "id": "e4f705ae-96c3-4b02-be87-6ed31daf9520",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "sW8sK3FqkjIXfY39",
          "name": "Google Gemini(PaLM) Api hi@kunal.live"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appglKSJZxmA9iHpl",
          "mode": "list",
          "cachedResultName": "Pivot 5 AI Editor 2.0",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl"
        },
        "table": {
          "__rl": true,
          "value": "tblKhICCdWnyuqgry",
          "mode": "list",
          "cachedResultName": "Newsletter Selects",
          "cachedResultUrl": "https://airtable.com/appglKSJZxmA9iHpl/tblKhICCdWnyuqgry"
        },
        "filterByFormula": "={pivot_id} = '{{ $json.pivot_id }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1008,
        -144
      ],
      "id": "d1b0a4ec-12b1-4eff-8684-834b4f78fbe1",
      "name": "Pull NIS Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "oWcf5peCOkQe8Rem",
          "name": "Airtable Pivot Studio"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "25 2 * * 2-6"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "9:25pm ET Headline + Bullets Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -400,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "40 2 * * 2-6"
            }
          ]
        }
      },
      "id": "63d5eaa4-5730-4450-b44f-0661b03b1bee",
      "name": "Schedule Trigger 9:40pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        1344
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Pull Latest Issue": {
      "main": [
        [
          {
            "node": "Prepare Story Lookups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Story Lookups": {
      "main": [
        [
          {
            "node": "Loop Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Stories": {
      "main": [
        [
          {
            "node": "Mark Issue Decorated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pull Story Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Story Details": {
      "main": [
        [
          {
            "node": "Pull NIS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Decoration": {
      "main": [
        [
          {
            "node": "Build Decoration Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Decoration Prompt": {
      "main": [
        [
          {
            "node": "Content Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator": {
      "main": [
        [
          {
            "node": "Parse Content Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content Creator": {
      "main": [
        [
          {
            "node": "Bolding Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bolding Pass": {
      "main": [
        [
          {
            "node": "Normalize Decorated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Decorated": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Write Decoration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Decoration": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Needs Image": {
      "main": [
        [
          {
            "node": "Sensitive words filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudflare": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to binary": {
      "main": [
        [
          {
            "node": "Cloudinary Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Upload Final Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Image": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Final Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Gemini Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Backup Node": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Image": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Backup Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sensitive words filter": {
      "main": [
        [
          {
            "node": "Filter Pivot AI Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload": {
      "main": [
        [
          {
            "node": "Optimized URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimized URL": {
      "main": [
        [
          {
            "node": "Get Optimized Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Optimized Image": {
      "main": [
        [
          {
            "node": "Upload to Cloudflare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pivot AI Only": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Issue Decorated": {
      "main": [
        []
      ]
    },
    "Merge Story Context": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Cleaned Content": {
      "main": [
        [
          {
            "node": "Check Needs Decoration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Process Cleaned Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull NIS Data": {
      "main": [
        [
          {
            "node": "Merge Story Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9:25pm ET Headline + Bullets Trigger": {
      "main": [
        [
          {
            "node": "Pull Latest Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger 9:40pm": {
      "main": [
        [
          {
            "node": "Pull Needs Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "881eb252-344d-4854-aebd-5e3be271bd40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbbd911fcbd9efe5def160e3f7a7b14baf0691f4a0ba4531005de9dea9d03f69"
  },
  "id": "HCbd2g852rkQgSqr",
  "tags": []
}